
body{
   
    background: #191B1D
}
#cabecalho{
    
    background-image: url("img/eclipse.jpeg");
    text-align: center;
    height: 250px;
   
}
.texto-cabecalho{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 50px;
}
#btn-menu{
    
    opacity: 0.9;
    
    
    padding-bottom: 5px;
   
    
    
}

h1{
    color: white
    
     
   
}
#texto-evento{
    text-align: center
}

/*.texto{
    text-transform: uppercase
}*/
#btn{
    font-size: 20px
}
