
body{
   
    background: #191B1D
}
#cabecalho{
    
    background-image: url("img/eclipse.jpeg");
    text-align: center;
    height: 250px;
   
}
#cabecalho-titulo{
    padding-top: 70px;
    padding-bottom: 50px;
    color: white;
    
}
#btn-menu{
    opacity: 0.9;
    padding-bottom: 5px;
   
    
    
}


#texto-evento, #cabecalho-eventos{
    text-align: center
}


/*.texto{
    text-transform: uppercase
}*/
#btn{
    font-size: 20px
}
